<html>
  <head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <script src="./js/socket.io.js"></script>
    <div class="chat-room">
      <div class="messages">
        <div id="msg-arrive"><p>hiiiiiki a good day a </p></div>
      </div>
      <form>
        <input class="msg" type="text">
        <button id="btn">Send</button>
      </form>
    </div>
    <script src="./js/client.js"></script>
  </body>
</html>